body {
  background-color: whitesmoke;
    font-family: "Roboto", sans-serif;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
}

header {
  border-bottom: 1px solid silver;
  padding-bottom: 25px;
}

.search-input {
  width: 75%;
  padding: 18px;
  border: none;
  border-radius: 5px;
  background-color: whitesmoke;
  font-size: 16px;
}

.search-button {
  border: none;
  margin-left: 5px;
  border-radius: 5px;
  color: white;
  background-color: green;
  padding: 18px 30px;
  font-size: 16px;
  line-height: 1;
}

main {
  padding: 30px 0;
}

.city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: rgba(39, 33, 66, 04);
}

strong {
  color: #f65282;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.temperature-value {
  font-size: 80px;
  font-weight: 900;
  position: relative;
  right: -12px;
}

.temperature-icon {
  position: relative;
  top: -5px;
  font-size: 40px;
  right: -13px;
}

.temperature-unit {
  font-size: 25px;
  position: relative;
  top: -38px;
}

footer {
  text-align: center;
  border-top: 1px solid silver;
  padding-top: 15px;
}

a {
  color: green;
}
