body {
 background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  font-family: "Roboto", sans-serif;
  
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid silver;
  padding-bottom: 25px;
}

.search-input {
  width: 75%;
  padding: 18px;
  border: none;
  border-radius: 5px;
  background-color: whitesmoke;
  font-size: 16px;
}

.search-button {
  border: none;
  margin-left: 5px;
  border-radius: 5px;
  color: white;
  background-color: green;
  padding: 18px 30px;
  font-size: 16px;
  line-height: 1;
}

main {
  padding: 30px 0;
}

.city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 1.5;
  color: rgba(39, 33, 66, 04);
}

strong {
  color: green;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.temperature-value {
  font-size: 88px;
  font-weight: 900;
  position: relative;
  right: -8px;
}

.temperature-icon {
  position: relative;
  top: 15px;
  width: 88px;
  height: 88px;
  right: -13px;
}

.temperature-unit {
  font-size: 25px;
  position: relative;
  top: -38px;
}

footer {
  text-align: center;
  border-top: 1px solid silver;
  padding-top: 10px;
   margin-top: 10px;
}

a {
  color: green;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.forecast-day {
  font-size: 15px;
  text-align: center;
  line-height: 10px;
  margin-bottom: 10px;
}

.forecast-temperatures {
  font-size: 14px;
  padding: 0 10px;
  text-align: center;
  color: green;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  
}

.forecast-temperature {
  padding: 0 10px;
}

.forecast-icon {
  height: 75%;
  width: 80px;
  display: block;
  margin: 0 auto;
}
